<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/inicioS.css' />
    <link rel="website icon" href="img/icon.png">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
